{% load static %}
        <!-- Gallery Start-->
        <div class="gallery-wrapper lf-padding">
            <div class="gallery-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="gallery-items">
                            <img src="{% static 'img/gallery/gallery1.jpg' %}" alt="">

                        </div> 
                        <div class="gallery-items">
                             <img src="{% static 'img/gallery/gallery2.jpg' %}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{% static 'img/gallery/gallery3.jpg' %}" alt="">
                        </div>
                        <div class="gallery-items">
                          <img src="{% static 'img/gallery/gallery4.jpg' %}" alt="">
                        </div>
                        <div class="gallery-items">
                           <img src="{% static 'img/gallery/gallery5.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End-->