{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
{% include 'products/snippets/preloder.html' %}  
{% include 'products/snippets/slider.html' %} 
    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'products/snippets/product_search_sidebar.html' %}
                    
                </div>
                <div class="col-md-9">
                    <div class="product_list">
                        <div class="row">
                        {% for obj in object_list %}
                            <div class="col-lg-6 col-sm-6">
                             {% include 'products/snippets/card.html' with instance=obj %}   
                            </div>
                        {% endfor %}
                        </div>
                        <div class="load_more_btn text-center">
                            <a href="#" class="btn_3">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->
{% include 'products/snippets/client_review.html' %}    
{% include 'products/snippets/shop_end.html' %}
{% include 'products/snippets/subscribe.html' %}
</main>
{% endblock %}   