{% extends "base.html" %}
{% block content %}
<main>
{% include 'products/snippets/preloder.html' %}  
{% include 'products/snippets/home-slider.html' %}
{% include 'products/snippets/category.html' %}
{% include 'products/snippets/latest_product.html' %}
{% include 'products/snippets/best_product.html' %}
{% include 'products/snippets/best_collection.html' %}
{% include 'products/snippets/latest_offer.html' %}
{% include 'products/snippets/shop_end.html' %}
{% include 'products/snippets/gallery.html' %}
</main>     
{% endblock %}
