<!-- {{ object_list }}
{{ paginator }}
{{ is_paginated }}
{{ page_obj }} -->

{% for obj in object_list %}<br>

<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
{{ obj.description}}<br>
{{ obj.image }}<br>
{{ obj.image.url }}<br>
<img src="{{ obj.image.url }}" height="200px" width="200px">
<a href="{{ obj.get_absolute_url }}" class="btn btn-primary">View</a>
<a href="{% url 'products:detail'  obj.slug %}" class="btn btn-warning">URl shortcut</a>
{{ obj.price}}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

